body{
	height: 100%;
	width:100%;
	overflow:hidden;
	margin:0;
	buffer:0;
}
.popForm {
	padding: 20px 20px 20px 20px;
	display: none;
	z-index:99999;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
    top: 150px;
    left: 30%;
    position: absolute;
    -moz-border-radius: 15px;
	border-radius: 15px;
	border: #fff 5px solid;
    font-size: 20px;
    text-align: left;
}
#mouseFollow{
	height:16px;
	width:16px;
	position:absolute;
	opacity:0;
	z-index:10000;
}
#grid{
	position:absolute;
	top:5%;
	left:1%;
	height:90%;
	width:98%;
	background: rgba(0,0,0,0.3);
}