body{
	height: 100%;
	width:100%;
	overflow:hidden;
	margin:0;
	buffer:0;
}
.popForm {
	padding: 20px 20px 20px 20px;
	display: none;
	z-index:99999;
	background: rgb(255s 255, 255);
	background: rgba(255, 255, 255, 0.8);
    top: 150px;
    left: 30%;
    position: absolute;
    -moz-border-radius: 15px;
	border-radius: 15px;
	border: #fff 5px solid;
    font-size: 20px;
    text-align: left;
}
#mouseFollow{
	height:16px;
	width:16px;
	position:absolute;
	opacity:0;
	z-index:10000;
}
#grid{
	position:absolute;
	top:5%;
	left:1%;
	height:90%;
	width:98%;
}
.fieldLeg{
	padding-top:0;
	padding-bottom:0;
	margin:0;
}
#catHidden{
	position:absolute;
	top:200%;
	opacity:0;
}
.object{
		padding-top:0;
	margin:0;
	width: 85%;
	top:0;
	left:4%;
	height: 60%;
	background-color: #123456;
	z-index:2;
	border-radius : 5px;
	color : #FFFFFF;
	border : 2px solid #000000;
	padding : 5px;
}
#freeze{
	cursor:pointer;
	position:absolute;
	top:.5%;
	left:1.2%;
	width:7%;
	height:4%;
	background:#A9128A;
}
#altView{
	cursor:pointer;
	position:absolute;
	top:.5%;
	left:10%;
	width:7%;
	height:4%;
	background:#A91200;
}
.ui-state-disabled { 
	opacity:1; 
}
#newCat{
	height:16px;
	width:16px;
}
.linkSpan{
	margin:auto;
}
#favicon{
	height:16px;
	width:16px;
}